.popup_delete-card__container {
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 430px;
    height: 181px;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width: 470px) {
    .popup__container {
        width: 90vw;
    }
}

@media screen and (max-width: 320px) {
    .popup__container {
        width: 282px;
    }
}