.profile__info {
    display: flex;
    flex-direction: row;
    color: white;
}

@media screen and (max-width: 768px) {
    .profile__info {
        align-self: center;
    }
}

@media screen and (max-width: 560px) {
    .profile__info {
        flex-direction: column;
        align-items: center;
    }
}