.popup__close {
  background: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: -47px;
  right: -45.5px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: transform .2s linear;
}

.popup__close:hover {
  opacity: 0.6;
  transform: rotate(90deg);
}

@media screen and (max-width: 560px) {
  .popup__close {
    right: 0;
  }
}

@media screen and (max-width: 375px) {
  .popup__close {
    height: 26px;
    width: 26px;
  }
}